sudo: required
dist: trusty

language: c

os: linux

compiler:
  - gcc

install:
  - if [[ $CXX = g++ ]]; then export CXX="g++-7" CC="gcc-7"; fi

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - cmake
      - gcc-7
      - valgrind
      - cppcheck

before_script:
  - |
    cat > travis_input.txt << EOF
    2 2
    4 2 1 3
    EOF

script:
  - sudo ln -s /usr/bin/gcc-6 /usr/local/bin/gcc
  - export CC=/usr/bin/gcc-6
  - mkdir -p build
  - cd build
  - cmake ..
  - make
  - valgrind --tool=memcheck --leak-check=full ./TP_C_Homework_1 < ../travis_input.txt
  - cppcheck --enable=all --std=c11 --check-config --suppress=missingIncludeSystem -I ../include ../src
  - ctest